@import 'sizes.scss';

.faq {
  border-bottom: 1px solid var(--green);
  cursor: pointer;
}

.title {
  align-items: center;
  display: flex;
  font-size: 1.2em;

  h3 {
    margin-left: 1rem;
  }
}

.text {
  margin-top: 0;
  text-align: left;
}

.rotate {
  transform: rotate(45deg);
  transition: 0.2s;
}
