@import 'sizes.scss';

.header {
  color: var(--white);
  left: 0;
  margin: 0 auto;
  padding: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s;
  transition-property: background-color;
  width: 100%;
  z-index: 99;

  .headerInner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--maxWidth);
  }

  .greenLogo {
    display: none;
  }

  @media (max-width: $l) {
    background-color: var(--white);
    color: var(--green);
    padding: 1rem;

    .greenLogo {
      display: block;
    }

    .whiteLogo {
      display: none;
    }

    .contactBtn {
      border-color: var(--green);
    }
  }
}

.logoWrapper {
  width: 8rem;

  @media (max-width: $l) {
    width: 6rem;
  }
}

.buttonsWrapper {
  display: flex;
}

.contactBtn {
  align-items: center;
  border: 1px solid var(--white);
  display: flex;
  font-size: 0.75em;
  font-weight: bold;
  height: 2rem;
  line-height: 1;
  margin-right: 0.25rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.greenHeader {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  color: var(--green);
  mix-blend-mode: normal;
  transition: 0.2s;
  transition-property: background-color;

  .whiteLogo {
    display: none;
  }

  .greenLogo {
    display: block;
  }

  .contactBtn {
    border-color: var(--green);
  }
}
